<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Account created</title>

<link rel="stylesheet" type="text/css" th:href="@{/CSS/log-register.css}">
</head>
<body>

	
	    <div class="wrapperAccountCreated">
	  		<div class="containerAccountCreated">
	  			<p>Account created!</p>
    	 		<form action="/employee/users/showusers" method="GET">
    	 			<input class="accountCreatedButton" type="submit" value="Go back to page"/>
 				</form>
 			</div>
 		</div>

</body>
</html>