<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1" />
    <link rel="stylesheet" type="text/css" th:href="@{CSS/account-layout.css}"/>
    <title>Student-Home</title>
</head>

<body>
<div class="wrapper">
    <div th:replace="navBar-layout :: studentNavBar"></div>

    <div class="container">
        <h1 th:text="${'Hello,' + ' ' + currentUser.name}"></h1>
        <p>Welcome to ChienHV's Library</p>
        <p>Your task is to manage the library and assist readers in borrowing and returning books</p>
        <p>Some rules in the library:</p>
        <p>		- Borrowing and returning books must be done directly at the library.</p>
        <p>		- Librarians are responsible for assisting readers in borrowing and returning books.</p>
        <p>		- In the event that a reader affects the library, the librarian has the right to take away the reader's card.</p>
        <p>		- After borrowing books, readers are responsible for keeping the books carefully, and are responsible for any damage from the books.</p>
        <p>		- If lost or damaged, readers need to compensate 1.5 times the original book price.</p>

    </div>

</div>
</body>
</html>
