<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}"> 
    <title>Project Information Changed</title>
  </head>

  <body>
    <div th:replace="navBar-layout :: teacherNavBar"></div>
    

    <div class="container">
      <h3>Project information changed!</h3>
      <form th:action="@{/teacher/projects/showProjects}" th:method="GET">
        <div class="row">
          <input type="submit" value="Go back to catalog" />
        </div>
      </form>
    </div>
  </body>
</html>
