<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <!-- <link rel="stylesheet" href="../../static/css/account-layout.css" /> -->

    <link rel="stylesheet" type="text/css" th:href="@{/CSS/account-layout.css}">
    <title>View Project</title>
</head>

<body>
<div th:replace="navBar-layout :: teacherNavBar"></div>


<div class="container">
    <h3>Update Project information:</h3>

    <form th:action="@{/teacher/projects/update/{id}(id=${project.id})}" th:method="POST">
        <div class="row">
            <div class="col-50">
                <label for="id">Project ID</label>
            </div>
            <div class="col-75" th:text="${project.id}"></div>
        </div>


        <div class="row">
            <div class="col-50">
                <label for="name">Project Name</label>
            </div>
            <div class="col-75">
                <input
                        type="text"
                        id="name"
                        name="name"
                        th:field="${project.name}"
                        required="required"
                />
            </div>
            <div class="col-50">
                <label for="description">Description</label>
            </div>
            <div class="col-75">
                <input
                        type="text"
                        id="description"
                        name="description"
                        th:field="${project.description}"
                        required="required"
                />
            </div>
        </div>

        <div class="row">
            <div class="col-50">
                <label for="endDate">End Date</label>
            </div>
            <div class="col-75">
                <input
                        type="text"
                        id="endDate"
                        name="endDate"
                        th:field="${project.endDate}"
                        required="required"
                />
            </div>

            <div class="col-50">
                <label for="isUsed">Status</label>
            </div>
            <div class="col-75" th:text="${project.isUsed}"></div>
        </div>

<!--        <div class="row">-->
<!--            <div class="col-50"></div>-->
<!--            <div class="col-50"></div>-->
<!--            <div class="col-75">-->
<!--                <input type="submit" value="Submit"/>-->
<!--            </div>-->
<!--        </div>-->
    </form>
    <div>
        <form th:action="@{/teacher/projects/showProjects}">
            <div class="row">
                <div class="col-50"></div>
                <div class="col-50"></div>
                <div class="col-75">
                    <input class="registerButton" type="submit" value="Back">
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
