@charset "ISO-8859-1";

/*----------------------- CONTENT LAYOUT ------------------------ */
body {
    background: url("../../Images/library-background.jpeg") repeat center fixed;
    background-size: cover;
    background-color: #bee4fa;
    font-family: Helvetica, sans-serif;
}

.homeContent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 5px;
    padding: 25px;
    background-color: #f1f2b3f2;
}

.container {
    border-radius: 5px;
    background-color: #f1f2b3f2;
    padding: 20px;
    margin-top: 10px;
    min-width: 10em;
    height: 33em;
    transform: scale(0.9);
}

.notify {
    border-radius: 5px;
    background-color: #f1f2b3f2;
    padding: 20px;
    margin-top: 20px;
    min-width: 1000px;
    transform: scale(0.9);
}

/* ----------------------- NAVIGATION BAR ----------------------- */
.nav {
    overflow: hidden;
    border-radius: 4px;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: rgba(100, 226, 148, 0.329);
}

.active {
    background-color: #369c44;
    color: white;
}

/* ----------------------------- FORMS ----------------------------- */
label {
    padding: 12px 12px 12px 15px;
    display: inline-block;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"],
input[type="date"], select, textarea {
    width: 200px;
    padding: 12px;
    border: 1px solid rgb(177, 168, 168);
    border-radius: 4px;
    resize: vertical;
}

input[type="submit"], .submit-button {
    background-color: #47a153;
    color: white;
    padding: 13px;
    width: 150px;
    margin-top: 6px;
    margin-left: 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

.col-25 {
    float: left;
    width: 100px;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 250px;
    margin-top: 6px;
}

.col-50 {
    float: left;
    width: 175px;
    margin-top: 6px;
}

.col-250 {
    float: left;
    width: 850px;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    padding: 10px;
}

/* ------------------- TABLE STYLE ------------------*/
#tablestyle {
    border-collapse: collapse;
    width: 100%;
}

#tablestyle td, #tablestyle th {
    border: 1px solid rgb(161, 155, 155);
    padding: 8px;
    font-size: 12px;
}

#tablestyle td {
    background-color: whitesmoke;
}

#tablestyle tr:nth-child {
    background-color: #f2f2f2;
}

#tablestyle tr:hover {
    background-color: #ddd;
}

#tablestyle th {
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4d484e;
    color: white;
}

/*--------------Misc-----------------------------*/
.newBlock {
    margin-top: 10px;
}

.newForm {
    margin-top: 10px;
}

/*-------------------Scroll--------------------*/

.style-scroll {
    background-color: #F5F5F5;
    float: left;
    height: 380px;
    margin-bottom: 25px;
    margin-left: 22px;
    margin-top: 20px;
    width: 1250px;
    overflow-y: scroll;
}

.style-scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.style-scroll::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.style-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}