<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
</head>

<body>
	<div th:fragment="adminNavBar">
		<div class="nav">
			<ul>
				<li><a href="/admin">Home</a></li>
				<li><a href="/admin/users/showusers">Users</a></li>
<!--				<li><a href="/user/yourreservations">Your Reservations</a></li>-->
<!--				<li><p>Library Of ChienHV</p></li>-->
				<li style="float: right"><a class="active" href="/logout">Logout</a></li>
			</ul>
		</div>
	</div>

	<div th:fragment="teacherNavBar">
		<div class="nav">
			<ul>
				<li><a href="/teacher">Home</a></li>
				<li><a href="/teacher/projects/showProjects">Catalog</a></li>
				<li><a href="/teacher/jobs/showOwnJobs">My Jobs</a></li>
				<!--				<li><a href="/employee/management/reservations">Process Management</a></li>-->
<!--				<li><a href="/statistical/chart">Statistical</a></li>-->
<!--				<li><p style="color: #f2f2f2; margin: 14px 20px 0px 200px; font-size: medium; font-style: italic">The Library Of ChienHV</p></li>-->
				<li style="float: right"><a class="active" href="/logout">Logout</a></li>
			</ul>
		</div>
	</div>

	<div th:fragment="studentNavBar">
		<div class="nav">
			<ul>
				<li><a href="/student">Home</a></li>
				<li><a href="/student/projects/viewMyProject">My Project</a></li>
				<li><a href="/student/jobs/showOwnJobs">My Jobs</a></li>
				<!--				<li><p>Library Of ChienHV</p></li>-->
				<li style="float: right"><a class="active" href="/logout">Logout</a></li>
			</ul>
		</div>
	</div>
</body>
</html>