<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <title>My Jobs</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/CSS/account-layout.css}">
</head>

<body>
<div th:replace="navBar-layout :: studentNavBar"></div>

<div class="container">


    <div class="row">
        <form th:action="@{/student/jobs/showOwnJobs}" method="GET">
            <div class="col-25">
                <label for="name">Job Name</label>
            </div>
            <div class="col-75">
                <input type="text" id="name" name="name"/>
            </div>

            <div class="col-25">
            </div>
            <div class="col-75">
            </div>
            <div>
                <input type="submit" value="Search"/>
            </div>
        </form>

        <div>
            <a href="?">
                <button type="button" class="submit-button">All Jobs</button>
            </a>
        </div>

    </div>

    <div class="style-scroll">
        <table th:if="${jobs.size() > 0 }" id="tablestyle">
            <tr>
                <th>Job ID</th>
                <th>Project</th>
                <th>Job Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            <tr th:each="job : ${jobs}">
                <td th:text="${job.id}"></td>
                <td th:text="${job.project.name}"></td>
                <td th:text="${job.name}"></td>
                <td th:text="${job.description}"></td>
                <td th:text="${job.startDate}"></td>
                <td th:text="${job.endDate}"></td>
                <td th:text="${job.status}"></td>
                <td style="width: 120px">
                    <a th:href="@{/student/jobs/{id}(id=${job.id})}">
                        <input class="updateButton" type="submit" value="">
                    </a>

                </td>
            </tr>
        </table>
    </div>

</div>
</body>
</html>
